
<div class="container">
	<div class="well well_top blue_back topper"><h1>Records</h1></div>
	<div class="well plinks text-center text_black">
		<%= render @secpats %>
	</div>
	
</div>

<style type="text/css">
	.plink {
		color: blue !important;
		margin: 12px auto;
		font-size: 1.5em;
	}
</style>