<!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="jumbotron" id="jmbotron">
      <div class="container">
   

      </div>
    </div>

    <div class="container">
 
        <!-- column 1 -->
        <%= link_to about_path do %>
        <div class="info_column well blue_back text-center">
          <h2>See Our Team</h2>
          <img class="Ingrid img-responsive" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10613062_10204064982039281_3935986096997408191_n.jpg?oh=07aab2a288144cb3f6d4d09bb46d25f4&oe=551194CB&__gda__=1423249332_7b2379ff50fa8ce46e0f27d1c7d11355">
          <p class="dentist well lblue_back">
          Dr. Ingrid Castillo has had her practice in Coral Springs for 8 years. Her team specializes in helping people smile.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="smiley">:)</span>  </p>
        </div>
       <% end %>


       <%= link_to patient_record_path do %>
        <!-- column 2 -->
        <div class="info_column well blue_back text-center">
          <h2>Make An Appointment</h2>
           <img class="Ingrid img-responsive" src="http://woman.islammessage.com/Files/largearticle7564smile_mouth_teeth_clip_art.jpg">
          <p class="dentist well lblue_back">
          See our schedule and find an opening that works for you! Fill out a new patient form or update a current one to save time. 
          </p>
       </div>
       <% end %>
        

       <!-- column 3 -->
       <%= link_to location_path do %>
        <div class="info_column well blue_back text-center">
          <h2>Get Directions</h2>
           <img class="Ingrid img-responsive" src="lvdgmaps.jpg">
          <p class="dentist well lblue_back">
            
              <strong>LakeView Dental</strong><br>
              1390 Coral Ridge Drive<br>
              Coral Springs, FL 33071<br>
              Phone Number and Fax: (954)752-7874
            
          </p>
        </div>
        <% end %>
      

  

      
    </div> <!-- /container -->



    
    