<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="jmbotron">
      <div class="container">
   
        <h1>Lakeview Dental</h1>
        <p>Where we keep you smiling!</p>
        <div><img class="beach" src="http://www.danandcarolyn.info/wp-content/uploads/2012/12/PalladiumMorning.jpg"></div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>About the dentist</h2>
          <img class="Ingrid" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10613062_10204064982039281_3935986096997408191_n.jpg?oh=07aab2a288144cb3f6d4d09bb46d25f4&oe=551194CB&__gda__=1423249332_7b2379ff50fa8ce46e0f27d1c7d11355">
          <p class="dentist">Dr. Ingrid Castillo originally graduated from dental school in the Dominican Republic in 1993. Since her move to the United States, to practice dentistry, she needed acquire her dental degree in the United States. She matriculated at Nova Southeastern University and graduated in May 2003. <br> Dr. Castillo worked as an associate dentist before opening her own practice at the Lakeview plaza. She has had her practice in Coral Springs for 8 years.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

      </div>

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->



    
    