
<address class="extra_info well blue_back text-center">
Phone and Fax: (954) 752-7874<br>
Open: Monday - Thursday from 9am - 5pm
</address>
	
  <div class="bcontainer">
        <%= link_to about_path, class: "small_device_hidden" do %>
        <div class="info_column well blue_back smaller_card">
          <h2 class="text-center">See Our Team</h2>
          <img class="team_img img-responsive" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10613062_10204064982039281_3935986096997408191_n.jpg?oh=07aab2a288144cb3f6d4d09bb46d25f4&oe=551194CB&__gda__=1423249332_7b2379ff50fa8ce46e0f27d1c7d11355">
          <p class="dentist well lblue_back">
          Dr. Ingrid Castillo has had her practice in Coral Springs for 8 years. Her team specializes in helping people smile. <span class="smiley">:)</span>  </p>
        </div>
        <% end %>


          <!-- column 2 -->
        <div class="info_column well blue_back text-center google-maps">
          <iframe class="" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Lakeview%20Dental%2C%20Coral%20Ridge%20Drive%2C%20Coral%20Springs%2C%20FL%2C%20United%20States&key=AIzaSyDY7oGc0lrxE7l5JmMn6tuCA5Wj8QhbPog"></iframe>
       </div>
	    
        <%= link_to patient_record_path do %>
        <!-- column 2 -->
        <div class=" info_column well blue_back text-center smaller_card">
          <h2>Make An Appointment</h2>
           <img class="team_img img-responsive" src="http://woman.islammessage.com/Files/largearticle7564smile_mouth_teeth_clip_art.jpg">
          <p class="dentist well lblue_back">
          See our schedule and find an opening that works for you! Fill out a new patient form or update a current one to save time. 
          </p>
       </div>
       <% end %>

       <%= link_to about_path, class: "small_device_shown" do %>
        <div class="info_column well blue_back smaller_card">
          <h2 class="text-center">See Our Team</h2>
          <img class="team_img img-responsive" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10613062_10204064982039281_3935986096997408191_n.jpg?oh=07aab2a288144cb3f6d4d09bb46d25f4&oe=551194CB&__gda__=1423249332_7b2379ff50fa8ce46e0f27d1c7d11355">
          <p class="dentist well lblue_back">
          Dr. Ingrid Castillo has had her practice in Coral Springs for 8 years. Her team specializes in helping people smile. <span class="smiley">:)</span>  </p>
        </div>
        <% end %>

</div>
<style>body {margin: 0;}</style>