<% unless current_page?(root_path) %>
	<div class="info_column well blue_back text-center smaller_card">
<% else %>
	<div class="info_column well blue_back text-center">
<% end %>

	<h2>Make An Appointment</h2>
	
	<img class="team_img img-responsive" src="http://woman.islammessage.com/Files/largearticle7564smile_mouth_teeth_clip_art.jpg">
	
	<p class="dentist well lblue_back">
		See our schedule and find an opening that works for you! Fill out a new patient form or update a current one to save time. 
	</p>
	
</div>

