<div class="info_column well blue_back text-center google-maps">
	<iframe class="" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Lakeview%20Dental%2C%20Coral%20Ridge%20Drive%2C%20Coral%20Springs%2C%20FL%2C%20United%20States&key=AIzaSyDY7oGc0lrxE7l5JmMn6tuCA5Wj8QhbPog">
	</iframe>
</div>