<div class="info_column well blue_back text-center">
	
	<h2>Get Directions</h2>
	
	<img class="team_img img-responsive" src="lvdgmaps.jpg">
	
	<p class="dentist well lblue_back">  
	    <strong>LakeView Dental</strong><br>
	    1390 Coral Ridge Drive<br>
	    Coral Springs, FL 33071<br>
	    Phone Number and Fax: (954)752-7874
	</p>

</div>