<div class="info_column well blue_back larger_card">

<h3>- Click on any service for a description</h3>

<h2 class="lblue_back services_list">
	
	<br>
	
	<a class="service" href="http://www.everydayhealth.com/dental-health/you-and-your-dentist.aspx">
	Regular Visits and Checkups
	</a>
	<br>
	<br>
	
	<a class="service" href="http://en.wikipedia.org/wiki/Dental_restoration">
	Implant Restoration
	</a>
	<br>
	<br>
	
	<a class="service" href="http://en.wikipedia.org/wiki/Periodontology">
	Periodontics (Gum Treatments)
	<br>
	<br>
	</a>
	
	<a class="service" href="http://en.wikipedia.org/wiki/Endodontics">
	Endodontics (Root Canal Treatments)
	<br>
	<br>
	</a>
	
	<a class="service" href="http://www.yourdentistryguide.com/cosmetic/">
	Cosmetic Dentistry (Including Veneers)
	<br>
	<br>
	</a>
	
	<a class="service" href="http://www.yourdentistryguide.com/fmr/">
	Complete Mouth Rehabilitation
	<br>
	<br>
	</a>

</h2>

</div>
