<div class="container margin_vertical_60px form">
<div class="well blue_back well_top text-center", id="formtop4">
	<h3 id="finalize_patient_topper">All Done!</h3>
</div>
<div class="text-center text_black well well_body" >
	<h2 class="text_black">Call 
	<a href="tel:+9547527874">
		(954)-752-7874
	</a>
	 between the hours of 9am - 5pm to make an appointment now that your patient info has been finalized. </h2>
</div>
</div>


	<div class="form_footer text-center"><%= link_to "Back To Home Page", root_path, class: "hoverbox_white margin_vertical_60px" %>
	</div>

	<style type="text/css">a {color: #428bca !important;]</style>
