

@mixin padding-top($val) { padding-top: $val; }
@mixin padding-bottom($val) { padding-bottom: $val; }
@mixin padding-left($val) { padding-left: $val; }
@mixin padding-right($val) { padding-right: $val; }
@mixin padding-all($val) { padding: $val; }
@mixin padding-horizontal($val) { padding-left: $val; padding-right: $val; }
@mixin padding-vertical($val) { padding-top: $val; padding-bottom: $val; }

@mixin margin-top($val) { margin-top: $val; }
@mixin margin-bottom($val) { margin-bottom: $val; }
@mixin margin-left($val) { margin-left: $val; }
@mixin margin-right($val) { margin-right: $val; }
@mixin margin-all($val) { margin: $val; }
@mixin margin-horizontal($val) { margin-left: $val; margin-right: $val; }
@mixin margin-vertical($val) { margin-top: $val; margin-bottom: $val; }