@import 'bootstrap';


/* modular classes */

/* boootstrap overrides */
a {
}
a:link {
    color: #fff;
    text-decoration: none;
}
 
a:active {
    color: #fff;
    text-decoration: none;
}
 
a:visited {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: none;
}

label {
	color: black;
	font-weight: 500;
}

.blue_back {
	background: #428bca;
	border: 1px solid #428bca;
}
.lblue_back {
	background: #68A2D5;
	border: 1px solid #68A2D5;	
}

.text_black {
	color: black;
}

.margin_vertical_60px {
	margin: 60px auto;
}

.well_top {
	margin-bottom: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-top: 0px;
	padding-bottom: 4px;
}

.well_body {
	color: #fff;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top: none;
	padding-top: 40px;
	font-size: 1.5rem;
}

/* ~~~~~~~~~~~~~~~~~~~~ */

/* media queries */

@media screen and (max-width: 1200px) {
	.info_column {
		width: 80%;
	}
}



/* site stylings */

body {
	margin-top: 15px;
	background-color: #CCCCFF; 
	color: #fff;
}

.nav nav-pills nav-justified {
	margin-bottom: 160px;
	background-color: red;	
}

.old_header {
	font-size: 1.25em;
	/* background-color: #428bca; */
	background-color: white;
	color: black;
	&:hover {
		background-color: #99FFCC;		
	}
}

#jmbotron {
	background-color: #CCCCFF;
}

.beach {
	height: 40em;
	width: 100%;
	position:absolute;
  left:0;
  top:0;

  -webkit-filter: opacity(.2);
  filter: opacity(.2);

}

.header-text {
	position: relative;
	color: rgba(255,255,255,.75);
	margin-bottom: 2em;
	font-size: 8em;
	font-family: 'Marcellus', serif;
}

.tagline {
	font-size: .4em;
}

.Ingrid {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	border-radius: 1%;
}
.col-md-4{
	margin: 0 auto;
}
.dentist {
	margin-top: 20px;
	text-align: justify;
}
.address {
	font-size: 50px;
	padding-left: 100px;
	text-decoration: underline;
}
.coral-springs {
	padding-top: 10px;
	padding-left: 100px;
	font-size: 30px;
}
.info_column{
	width: 29%;

	display: inline-block;
	margin: auto calc(9% / 6);
	transition: all 0.2s ease-in-out;
	
	&:hover{
		border: 2px solid #fff;
	}
}


/* forms */

input {
	margin-bottom: 30px;
}

.form {
	max-width: 800px;
}

.old_form {
	background: grey;
	color: grey;
}

.pipe {
	width: .5rem;
	margin: -20px auto -60px auto;
}


/* location */
.gmap_container {
	padding: 10px;
	display: inline-block;
}

.smaller_card {
	width: 18%;
}

 .google-maps {
        position: relative;
        padding-bottom: 50%; 
        height: 1em;
        overflow: hidden;
        width: 50%;
        border: 5px solid #428bca; 
    &:hover {
    	border: 5px solid #fff;
    }
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

.checkbox input {
	height: 1.5rem;
	width: 1.5rem;
}    

.checkbox {
	height: 4rem;
	line-height: 2rem;
	margin: 200px auto;
}

.checkbox_last {
	margin-bottom: 20px;
}


/* overrides */

.dentist {
	text-align: left;
}