@import 'bootstrap';


/* modular classes */

.blue_back {
	background: #428bca;
	border: 1px solid #428bca;
}
.lblue_back {
	background: #68A2D5;
	border: 1px solid #68A2D5;	
}

.text_black {
	color: black;
}

.margin_vertical_60px {
	margin: 60px auto;
}

.well_top {
	margin-bottom: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-top: 0px;
	padding-bottom: 4px;
}

.well_body {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top: none;
	padding-top: 40px;
	font-size: 1.5rem;
}

/* ~~~~~~~~~~~~~~~~~~~~ */

body {
	background-color: #CCCCFF; 
	color: #fff;
}

.nav nav-pills nav-justified {
	margin-bottom: 160px;
	background-color: red;	
}

.old_header {
	font-size: 1.25em;
	/* background-color: #428bca; */
	background-color: white;
	color: black;
	&:hover {
		background-color: #99FFCC;		
	}
}

#jmbotron {
	background-color: #CCCCFF;
}

.beach {
	height: 40em;
	width: 100%;
	position:absolute;
  left:0;
  top:0;
}

.header {
	margin-top: 10em;
	position: relative;
	color: black;
	margin-bottom: 15em;
}

.Ingrid {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	border-radius: 1%;
}
.col-md-4{
	margin: 0 auto;
}
.dentist {
	margin-top: 20px;
	text-align: justify;
}
.address {
	font-size: 50px;
	padding-left: 100px;
	text-decoration: underline;
}
.coral-springs {
	padding-top: 10px;
	padding-left: 100px;
	font-size: 30px;
}
.info_column{
	width: 29%;

	display: inline-block;
	margin: auto calc(9% / 6);
	transition: all 0.2s ease-in-out;
	
	&:hover{
		border: 2px solid #fff;
	}
}


/* forms */

.form {
	max-width: 800px;
}

.old_form {
	background: grey;
	color: grey;
}

#pipe1 {
	height: 5px;
	width: .5rem;
	margin: -20px auto -60px auto;
}


