@import 'bootstrap';


/* MODULAR CLASSES & INITIAL BOOTSTRAP OVERRIDES */

a:link { color: #fff; text-decoration: none; }
a:active { color: #fff; text-decoration: none; } 
a:visited { color: #fff; text-decoration: none; }
a:hover { color: #fff; text-decoration: none; }
label { color: black; font-weight: 500; }
.hoverbox_white:hover { text-decoration: underline; }
.blue_back { background: #428bca; border: 1px solid #428bca; }
.lblue_back { background: #68A2D5; border: 1px solid #68A2D5; }
.text_black { color: black; }
.text_blue { color: #428bca; }
.margin_vertical_60px { margin: 60px auto; }

.well_top {
	margin-bottom: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-top: 0px;
	padding-bottom: 4px;
}
.well_body {
	color: #fff;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top: none;
	padding-top: 40px;
	font-size: 1.5rem;
}


/* SITE STYLINGS */

.bcontainer { width: 90%; margin: 0 auto; text-align: center; }
.container { text-align: center; }
body {
	margin-top: 15px;
	background-color: #CCCCFF; 
	color: #fff;
}
.nav nav-pills nav-justified { 
	margin-bottom: 160px; background-color: red;	
}
.old_header {
	font-size: 1.25em;
	/* background-color: #428bca; */
	background-color: white;
	color: black;
	&:hover {
		background-color: #99FFCC;		
	}
}
#jmbotron { background-color: #CCCCFF; }

.header_img {
	height: 40em;
	width: 100%;
	position:absolute;
  left:0;
  top:0;

  -webkit-filter: opacity(.75);
  filter: opacity(.75);
}
.header-text {
	position: relative;
	color: rgba(255,255,255,.75);
	margin-bottom: 2em;
	font-size: 8em;
	font-family: 'Marcellus', serif;
}
.tagline { font-size: .4em; }

.team_img {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	border-radius: 1%;
}
.col-md-4 { margin: 0 auto; }
.dentist { margin-top: 20px; text-align: justify; }

.address {
	font-size: 50px;
	padding-left: 100px;
	text-decoration: underline;
}
.coral-springs {
	padding-top: 10px;
	padding-left: 100px;
	font-size: 30px;
}
.info_column {
	width: 29%;
	display: inline-block;
	margin: auto calc(9% / 6);
	transition: all 0.2s ease-in-out;
	
	&:hover { border: 2px solid #fff; }
}
.extra_info { font-size: 1.5em; }


/* FORMS */

.form_footer { font-size: 5rem; }
input { margin-bottom: 30px; }
.form { max-width: 800px; }
.old_form input { background: #B3B2B4; }
.pipe { width: .5rem; margin: -20px auto -60px auto; }
.formtip { color: grey; margin-bottom: 20px; }


/* LOCATION PAGE */

.gmap_container { padding: 10px; display: inline-block; }
.smaller_card { width: 20%; }

.google-maps {
  position: relative;
  padding-bottom: 50%; 
  height: 1em;
  overflow: hidden;
  width: 50%;
  border: 5px solid #428bca; 

	&:hover { border: 5px solid #fff; }
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.checkbox input { height: 1.5rem; width: 1.5rem; }    

.checkbox { 
	height: 4rem;
	line-height: 2rem;
	margin: 200px auto;
}
.checkbox_last { margin-bottom: 20px; }


/* MEDIA QUERIES FOR HOME PAGE (MOSTLY) */

@media screen and (min-width: 1000px)
{
	.small_device_shown { display: none; }	
}  

@media screen and (max-width: 600px) 
{
	.info_column1 { margin-top: -6rem; }
	.header_img { display:none; }
	.header-text { font-size: 3em; background: #428bca; }
	body { margin: 0; }
}


/* MEDIA QUERIES FOR LOCATION PAGE */
@media screen and (max-width: 1000px)
{
	.small_device_hidden { display: none; } 
	.info_column { width: 80%; margin: 20px auto; }
	.small_device_shown: { display: block; }
}

/* OVERRIDES */

.dentist { text-align: left; }
