<footer>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
<link href="./font-awesome-4.2.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
  
  <h1 class="awd">AWD<div class="star">&#9733;</div></h1>

  <div class="awd_links"> 
    <span class="awd_email">&#9993; gmail &nbsp;</span>
    <span class="awd_git"><i class="git fa fa-github"></i> github &nbsp;</span>
    <span class="awd_tumblr"><i class="fa fa-tumblr-square">&nbsp; tumblr &nbsp;</i> </span>
    <span class="awd_youtube"><i class="fa fa-youtube-play"> youtube</i></span>  
  </div>

</footer>



<style>

.awd_links span {
  padding-left: 10px;
  border: 1px solid #272822;
}

.awd_email:hover, .awd_git:hover, .awd_tumblr:hover, .awd_youtube:hover {
  border: 1px solid rgba(255, 255, 254, .5);
}

.awd_tumblr {
  font-weight: 900;
}


footer { 
  margin-top: 120px;
  height: 200px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  background: #272822; 
  width: 100%; 
  color: rgba(255, 255, 254, .5); 
  padding: 5px 20px; 
  text-align: center;

}

</style>
