<div>
	<img class="header_img small_device_hidden" src="lvd_header.jpg">
	<img class="header_img small_device_shown" src="lvd_header_tablet.jpg">
</div>

<div class="header-text text-center">
	LakeView Dental
	<div class="tagline">We keep you smiling!</div>
</div>