<!--
<ul class="nav nav-pills nav-justified">
      <li class="active" id><%= link_to 'Home', home_path, class: "old_header" %></li>
      <li class="" id><%= link_to 'Appointments and Information', about_path, class: "old_header" %></li>
      <li class="" id><%= link_to 'Location', location_path, class: "old_header" %></li>
    </ul>
    <br>

   -->
<div>
	<img class="header_img small_device_hidden" src="lvd_header.jpg">
	<img class="header_img small_device_shown" src="lvd_header_tablet.jpg">
</div>

<div class="header-text text-center">
	LakeView Dental
	<div class="tagline">We keep you smiling!</div>
</div>