<!--
<ul class="nav nav-pills nav-justified">
      <li class="active" id><%= link_to 'Home', home_path, class: "old_header" %></li>
      <li class="" id><%= link_to 'Appointments and Information', about_path, class: "old_header" %></li>
      <li class="" id><%= link_to 'Location', location_path, class: "old_header" %></li>
    </ul>
    <br>

   -->
<div><img class="header_img" src="dentist_chair_v1.jpg"></div>
 <div class="header-text text-center">LakeView Dental<div class="tagline">We keep you smiling!</div></div>