<ul class="nav nav-pills nav-justified">
      <li class="active" id><%= link_to 'Home', home_path, class: "old_header" %></li>
      <li class="" id><%= link_to 'Appointments and Information', about_path, class: "old_header" %></li>
      <li class="" id><%= link_to 'Location', location_path, class: "old_header" %></li>
    </ul>
    <br>